In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [ ]:
# Dataset yang saya digunakan:
# https://www.kaggle.com/api/v1/datasets/download/martj42/international-football-results-from-1872-to-2017

In [4]:
df = pd.read_csv("dataset/results.csv")
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [15]:
df['is_home'] = 1
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year

df['home_team'] = df['home_team'].astype('category').cat.codes
df['away_team'] = df['away_team'].astype('category').cat.codes
df['tournament'] = df['tournament'].astype('category').cat.codes

x = df[['home_team', 'away_team', 'tournament', 'is_home', 'year']]
y = df['home_score']

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [17]:
model = LinearRegression()
model.fit(x_train, y_train)
y_predict = model.predict(x_test)

In [18]:
print("Mean Absolute Error  : ", mean_absolute_error(y_test, y_predict))
print("Mean Squared Error   : ", mean_squared_error(y_test, y_predict))
print("R2 Score             : ", r2_score(y_test, y_predict))

Mean Absolute Error  :  1.2874281883530996
Mean Squared Error   :  3.2391620063437507
R2 Score             :  0.01905343860033204

In [31]:
sample = pd.DataFrame({
  'home_team': [df['home_team'].iloc[0]],
  'away_team': [df['away_team'].iloc[0]],
  'tournament': [df['tournament'].iloc[0]],
  'is_home': [1],
  'year': [2025]
})

predicted_score = model.predict(sample)
print(f"Prediksi skor tim rumah: {predicted_score[0]:.2f}")

Prediksi skor tim rumah: 1.53